In [2]:
batch <- c(1,2,3,4)

In [4]:
typeof(batch)

[1] "double"

In [6]:
new <- c('hi','hello')

In [8]:
typeof(new)

[1] "character"

In [13]:
class(batch) # displays the class of the vector assigned to the batch

[1] "numeric"

In [16]:
length(batch) # displays number of elements present in the vector

[1] 4

In [19]:
x <- c(1,2,3,c(4,5,6),c(7,8,9),10)

In [33]:
dim(x)

NULL

In [26]:
typeof(x) # datatype of vector assigned to the x is double

[1] "double"

In [27]:
class(x) # class of the x vector is numeric

[1] "numeric"

In [28]:
y <- "hello"


logical vectors

In [35]:
1>2 # returns false as 1 is not greater than 2

[1] FALSE

In [40]:
a <- c(nainesh=1,aditya=2,nitin=3,null=4)

In [42]:
a
print(a)
show(a)

nainesh  aditya   nitin    null
      1       2       3       4

nainesh  aditya   nitin    null
      1       2       3       4
nainesh  aditya   nitin    null
      1       2       3       4

In [45]:
names(a) #this prints names without values

[1] "nainesh" "aditya"  "nitin"   "null"

In [47]:
str(a)

 Named num [1:4] 1 2 3 4
 - attr(*, "names")= chr [1:4] "nainesh" "aditya" "nitin" "null"

In [51]:
unname(a) # this shows values only

[1] 1 2 3 4

In [54]:
a[order(a,decreasing=TRUE)] # prints the vector in reverse order

   null   nitin  aditya nainesh
      4       3       2       1

In [58]:
table(is.na(a))

FALSE
    4

In [57]:
a

nainesh  aditya   nitin    null
      1       2       3       4

- **Extracting an element out of a vector**

In [60]:
a[1] # returns index 1st element with its value

nainesh
      1

In [63]:
a["nitin"] # returs key:value pair

nitin
    3

In [65]:
i <- c(12,34,56,78,99)

In [74]:
i>1 # compares 1 with all the elements of the vector

[1] TRUE TRUE TRUE TRUE TRUE

In [77]:
i1<- i[i>30]

In [80]:
i1 # prints all the values that are greater than 30 from the vector

[1] 34 56 78 99

- **Representation of categotical data**

In [88]:
data <- c('i', 'dont','know','what','exactly','this','is')
data

[1] "i"       "dont"    "know"    "what"    "exactly" "this"    "is"

In [90]:
is.factor(data)

[1] FALSE

In [104]:
f <- factor(data)  #puts the characters/string in alphabetical order

In [105]:
f # levels: set of distinct values given to input vector x

[1] i       dont    know    what    exactly this    is
Levels: dont exactly i is know this what

In [106]:
n= c(8,7,6,5,4,3,2,2,1)

In [107]:
norder <- factor(n)
# this adds order to the existing vector, based on the datatype
# for randomly present numbers in a vector, it arranges it in sequence and removes duplicates

In [108]:
norder

[1] 8 7 6 5 4 3 2 2 1
Levels: 1 2 3 4 5 6 7 8

In [111]:
p <- c(1,2,3,4)
q <- c(5,6,7,8)

In [122]:
levelpq <- factor(p+q)
levelpq

[1] 6  8  10 12
Levels: 6 8 10 12

In [129]:
class(levelpq)
# class of levelpq is factor

[1] "factor"

In [130]:
typeof(levelpq)

[1] "integer"

In [132]:
class(c(1,2,3,4))

[1] "numeric"

In [134]:
class(c("hello","hi"))

[1] "character"

In [136]:
class(c(TRUE,FALSE))

[1] "logical"

In [140]:
is.numeric(c(1,2,3,4))

[1] TRUE

In [144]:
is.character(c('a','s','d','f','g'))
#returns TRUE if the vector type is character

[1] TRUE

- **Converting Vectors**

In [147]:
string <- c(2,3,4,5,6)

In [151]:
string+10 #adds 10 to each element of the vector

[1] 12 13 14 15 16

In [153]:
n = as.numeric(string)

In [155]:
n

[1] 2 3 4 5 6